Package: [[name]]-server
Version: ${serverversion}
Section: misc
Priority: optional
Architecture: all
Depends: apache2, postgresql-9.1, postgresql-9.1-pljava-gcj, postgresql-9.1-postgis, php5, php5-pgsql, php5-curl, php5-mhash
Suggests: openssh-server, pgadmin3
Replaces: [[name]]-server (<<${serverversion})
Maintainer: Peter Brewer <p.brewer@cornell.edu>
Description: Database and webservice for the Corina dendrochronology desktop application
Distribution: development