Package: [[name]]-server
Version: ${serverversion}
Section: misc
Priority: optional
Architecture: all
Depends: apache2, postgresql-9.1 | postgresql-9.3, postgresql-9.1-postgis | postgresql-9.3-postgis-2.1, postgresql-contrib-9.1 | postgresql-contrib-9.3, php5, php5-pgsql, php5-curl, php5-mhash | php5-common, expect
Suggests: openssh-server, pgadmin3, tellervo
Replaces: [[name]]-server (<<${serverversion})
Maintainer: Peter Brewer <p.brewer@ltrr.arizona.edu>
Description: Database and webservice for the Tellervo dendrochronology desktop application
 The Tellervo server provides a PHP/PostgreSQL-based web service for managing dendrochronology
 samples, data and metadata alongside the Tellervo desktop application.  
Distribution: development