Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: default-jre | openjdk-7-jre | openjdk-6-jre | sun-java6-jre , librxtx-java, libjogl-java
Maintainer: Peter Brewer <p.brewer@ltrr.arizona.edu>
Description: Application for measuring, managing and curating dendrochronology samples
Distribution: development