<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- Standard log file -->
  <appender name="logfile" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${java.io.tmpdir}/tellervo.log"/>
    <param name="MaxFileSize" value="2mb"/>
    <param name="MaxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.TTCCLayout">
      <param name="DateFormat" value="DATE"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN" />
            <param name="LevelMax" value="FATAL" />
            <param name="AcceptOnMatch" value="true" />
    </filter>
  </appender>
  
  <!-- Small log file that is sent in bug submission emails -->
  <appender name="logsubmission" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${java.io.tmpdir}/tellervo-submission.log"/>
    <param name="MaxFileSize" value="100kb"/>
    <param name="MaxBackupIndex" value="1"/>
    <layout class="org.apache.log4j.TTCCLayout">
      <param name="DateFormat" value="DATE"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="FATAL" />
            <param name="AcceptOnMatch" value="true" />
    </filter>
  </appender>
  
  <!-- Console log -->
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="FATAL" />
            <param name="AcceptOnMatch" value="true" />
    </filter>		
	</appender>

  <!-- Tone down noisy packages -->
  <logger name="org.apache.http" additivity="false">
    <level value="info"/>
  </logger>
  <logger name="org.apache.james" additivity="false">
    <level value="info"/>
  </logger>
  <logger name="org.dmurph.mvc.monitor">
    <level value="ERROR"/>
  </logger>
  
  
  <!-- Note there is another programmatically defined appender in 
  org/tellervo/desktop/Log4JViewer.java -->
  <root>
    <appender-ref ref="console"/>
    <appender-ref ref="logfile"/>
    <appender-ref ref="logsubmission"/>
  </root>

</log4j:configuration>
