<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Tellervo Server</display-name>
	<servlet>
		<servlet-name>Main</servlet-name>
		<display-name>Main</display-name>
		<description></description>
		<servlet-class>org.tellervo.server.Main</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/Main</url-pattern>
	</servlet-mapping>
	<env-entry>
		<env-entry-name>DatabaseCredentials</env-entry-name>
		<env-entry-value>/home/pbrewer/tellervo-pg</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>LabName</env-entry-name>
		<env-entry-value>DemoLab</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>LabAcronym</env-entry-name>
		<env-entry-value>ABC</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>	
</web-app>
