[Desktop Entry]
Version=${version}
Type=Application
Name=Corina
Comment=Dendrochronology software
Generic=Dendrochronology software
TryExec=corina
Exec=corina
Icon=/usr/share/pixmaps/corina.png
Terminal=false
Categories=Utility;Science