[Desktop Entry]
Version=${version}
Type=Application
Name=${name}
Comment=Dendrochronology software
GenericName=Dendrochronology software
TryExec=tellervo
Exec=tellervo
Icon=/usr/share/pixmaps/tellervo-application.png
Terminal=false
Categories=Utility;Science