#!/usr/bin/make -f

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp  
	dh_testdir
	touch build_stamp

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	mkdir -p $(CURDIR)/debian/corina

	cp corina-microns.jar $(CURDIR)/debian/corina/usr/share/corina/corina-microns.jar
	cp corina-application.png $(CURDIR)/debian/corina/usr/share/corina/corina-application.png
	cp corina.sh $(CURDIR)/debian/corina/usr/share/corina/corina.sh
	cp corina.desktop $(CURDIR)/debian/corina/usr/share/applications/

binary-indep: install

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
