CREATE ROLE "Webgroup"
  SUPERUSER INHERIT NOCREATEDB NOCREATEROLE;

CREATE ROLE %%DBUSER%% LOGIN
  ENCRYPTED PASSWORD '%%DBPWD%%'
  SUPERUSER INHERIT NOCREATEDB NOCREATEROLE;

ALTER GROUP "Webgroup" ADD USER %%DBUSER%%;
