Package: tellervo-server
Version: {{SERVER_VERSION}}
Section: misc
Priority: optional
Architecture: all
Depends: tellervo-server-common (= {{SERVER_VERSION}}), tellervo-server-web (= {{SERVER_VERSION}}), tellervo-server-db (= {{SERVER_VERSION}})
Suggests: openssh-server, pgadmin3, tellervo
Replaces: tellervo-server (<< {{SERVER_VERSION}})
Maintainer: Peter Brewer <p.brewer@ltrr.arizona.edu>
Description: Tellervo server single-host meta package
 This package depends on the common, web and database Tellervo server packages.
 Install it when Apache/PHP and PostgreSQL should run on the same host.
Distribution: development
